body {
    font-family: "Cabin";
}

h1, h2, h3 {
    font-family: "Lora";
}

h1 {
    color: #f52607;
}

h2 {
    color: #020100;
}


footer {
    background-image: linear-gradient(#dfd3d300, rgb(247, 3, 3));
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #beb8b8, #c53030);
    color: white;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #070706;
}

.jumbotron {
    margin: 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #f12105;
}

.card-group {
    border: solid #f12105;

}
