body {
    font-family: "Open Sans", sans-serif;
}


h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
}

h1 {
    color: #df2306;
}

h2 {
    color: #020100;
}

h4 {
    color: white;
    padding: 2rem;
    margin: 1rem;
    font-variant: small-caps;
}


footer {
    background-color:  rgb(211, 16, 16);
    padding: 1rem;
    margin-top: 0rem;
}

.jumbotron {
    padding: 3rem;
    background-color:white;
    margin: 0rem;
}
.row-content {
    padding: 50rem;
    border-bottom: 1rem ridge;
    min-height: 200rem;
}

.navbar {
    background-color: rgb(211, 16, 16);
    
}

.nav-link {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
    
}

.carousel .carousel-item img {
    object-fit: cover; 
    object-position: center; 
    overflow: hidden;
    height: 50vh;
}


.contact {
    color: white;
    margin: 3rem;
    padding: 1.1rem;
    font-family: Avenir;
}

.clinic {
    color: white
}
