body {
    font-family: "Cabin";
}

h1, h2, h3 {
    font-family: "Lora";
}

h1 {
    color: #df2306;
}

h2 {
    color: #020100;
}


footer {
    background-color:  rgb(211, 16, 16);
    padding: 10px;
}

.jumbotron {
    padding: 30px;
    background-color:white;
    margin: 0;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(211, 16, 16);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #f12105;
}

.card-group {
    border: solid #f12105;

}

.fa-facebook {
    color: black;
    background-color: grey
}

.fa-twitter {
    color: black;
    background-color: grey
}

.contact {
    color: white;
    padding: 8px;
    margin: 25px;
    font-family: Avenir;
}

h4 {
    color: white;
    padding: 25px;
    margin: 10px
   
}